<div class="container mt-5">
    <div class="row">
        <div class="col-6">

            <div class="card image-container p-3">
                <img [src]="product.imageModels[selectProductIndex].url"  style="width: 80%; height: 100%; margin: auto;" alt="">
            </div>
            <div class="mt-2">
                <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let file of product.imageModels; let i = index" (click)="changeIndex(i)" style="border: 1px solid lightgrey; cursor: pointer;" 
                    >
                        <img [src]="file.url" style="height: 150px;" alt="">                    
                    </mat-grid-tile>
                </mat-grid-list>

            </div>
            

        </div>
        <div class="col-6">
  <mat-card class="product-card">
    <mat-card-content>

      <div class="mt-3">
        <h2>{{product.title}}</h2>
      </div>
    
      <div class="mt-3">
        Description: <br>
        {{product.description}}
      </div>

      <div class="mt-3">
        <b style="color: blueviolet;">Rs. {{ product.price }} dt</b> &nbsp;
      </div>
      <p class="location">
        <i class="lni lni-map-marker"></i><a href="javascript:void(0)">{{product.location_event}} </a>
      </p>
      <hr>
      <div class="mt-3">
        <h4>startDate  :{{product.startDate}}</h4>
      </div>

      <hr>
      <div class="mt-3">
        <h4>endDate  :{{product.endDate}}</h4>
      </div>
  
    &nbsp;

    <div class="rating">
      <span class="star" (click)="setRating(1)" [class.filled]="rating >= 1">
        <i class="fa fa-star"></i>
      </span>
      <span class="star" (click)="setRating(2)" [class.filled]="rating >= 2">
        <i class="fa fa-star"></i>
      </span>
      <span class="star" (click)="setRating(3)" [class.filled]="rating >= 3">
        <i class="fa fa-star"></i>
      </span>
      <span class="star" (click)="setRating(4)" [class.filled]="rating >= 4">
        <i class="fa fa-star"></i>
      </span>
      <span class="star" (click)="setRating(5)" [class.filled]="rating >= 5">
        <i class="fa fa-star"></i>
      </span>
      <button type="button" class="btn btn-success" >
        <i class="bi bi-star"></i> Rate  </button>
      </div>


    
 
    
    </mat-card-content>
    <canvas #qrcode width="200" height="200"></canvas>

  </mat-card>


  
</div>
<!-- chatbot.component.html -->
<div id="df-root"></div>


</div>